<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ting.demo.mapper.RolesMapper">


    <select id="getRolesByUid" parameterType="long" resultType="com.ting.demo.bean.Role">
        SELECT * FROM mall.role r, mall.role_admin ra WHERE r.role_id=ra.role_id AND ra.admin_id=#{uid}
    </select>
    <insert id="addRoles">
        INSERT INTO mall.role_admin(role_id, admin_id) VALUES
        <foreach collection="roles" item="role" separator=",">
            (#{role},#{adminId})
        </foreach>
    </insert>
</mapper>